[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "pipenv run flask --debug run -h 0.0.0.0 -p 3000"
startwithfile = "pipenv run flask --app app.py --debug run -h 0.0.0.0 -p 3000"
